tg-lightbox-close

form
    h2.title(translate="LIGHTBOX.SEARCH.TITLE")
    fieldset
        input(type="text", name="text", id="whois-search-text", placeholder="{{'LIGHTBOX.SEARCH.PLACEHOLDER_SEARCH' | translate}}", data-required="true")
