tg-lightbox-close

form
    h2.title(translate="LIGHTBOX.WHOIS.TITLE")
    fieldset
        input(type="text", name="text", id="whois-search-text", placeholder="{{'LIGHTBOX.WHOIS.INPUT_PLACEHOLDER' | translate}}", data-required="true")
